.algorythm
    position: relative;
    padding: 25px 0
.algorythm.fixed-bg:before
    background-image: url(/images/04bk.jpg);


.algorythm-w
    width 840px
    margin: 0 auto;
    counter-reset: heading;
    .steps
        display: flex
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        .step
            width 200px
            height 100px
            display: flex
            align-items: center;
            margin 30px
            position: relative;
            font-size: 20px
            &:before
                position: absolute;
                top -5px
                left -50px
                counter-increment: heading;
                content: counter(heading)
                font-size: 4em