#complex.fixed-bg:before
    background-image: url(/images/05bk.jpg);

#complex
    width: 100%
    margin: 0 auto;
    z-index: 0
    position: relative;
    padding 20px 0

    ul.lamp
        .descr
            background-color: #3C3C49
            color #dddddd
            padding: 8px 12px