#complex.fixed-bg
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(/images/05bk.jpg);

#complex
    width: 100%
    margin: 0 auto;
    z-index: 0
    position: relative;
    padding 20px 0

    ul.lamp
        .descr
            background-color: #3C3C49
            color #dddddd
            padding: 8px 12px