.description-scheme
    text-align: center;
    img
        width 100%
        max-width: 840px
    
.description-wrap
    width: 100%
    background-color: color-bk

.description
    max-width: 800px
    padding: 20px
    margin: 0 auto;