footer
    background-color: color-cold

.footer-w
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width 840px
    padding: 10px 0
    margin: 40px auto 0 auto;
    .links
        width 420px
        display: flex;
        justify-content: space-around;
        a
            text-decoration: none;
            color color-a
            padding: 5px 15px
            &:hover
                background-color: color-cold
            
    .contacts
        width 420px