footer
    background-color: #3C3C49
    color #dddddd

.footer-w
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0
    margin: 40px auto 0 auto;
    .links
        width 420px
        display: flex;
        justify-content: space-around;
        align-items: center
        a
            text-decoration: none;
            color #dddddd
            padding: 5px 15px
            transition: background-color 0.3s, color 0.3s
            &:hover
                color #3C3C49
                background-color: color-cold
            
    .ft-contacts
        //width 420px
        color #dddddd