#form-order-window
#form-call-window
    display: none
    position: fixed;
    overflow: auto;
    font-size: 18px
    left: 0;
    top: 0;
    width 100%
    height 100%
    z-index: 99;
    text-align: center;
    background: rgba(0,0,0,0.85);
    padding-top 15px
    margin-bottom 30px


.popup-window
    width 480px
    margin auto
    background-color #fff
    padding: 10px
    box-shadow 0 0 2px #666
    border-radius 3px
    hr
        margin: 10px 0
    .close
        color #aaaaaa
        float right
        font-size 28px
        font-weight bold
        cursor pointer