.principles
    padding: 20px 0;
    
.top
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20px
    justify-content: space-between;
    max-width: 840px
    margin: 0 auto 20px auto;
    
.principle-top
    width 260px
    position: relative;
    text-align: center;
    margin 0 10px
    .descr
        position: relative;
        margin-bottom: 20px
        font-size: 20px
        min-height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    &:after
        font-family: FontAwesome;
        content: "\f176"
        color color-cold
        position: absolute;
        bottom -23px
        left: 50%;
        font-size: 1.3em

.result
    background-color: color-bk
    padding: 5px 7px
    text-transform: uppercase;
    font-size: 0.8em
        
.principle-line
    width 100%
    background-color: color-cold
    font-size: 1.5em
    padding: 5px 0
    text-align: center;
    text-transform: uppercase;
    
.bottom
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20px
    justify-content: space-between;
    max-width: 840px
    margin: 0 auto 20px auto;
    
.principle-bottom
    width 260px
    position: relative;
    text-align: center;
    margin 0 10px
    .descr
        position: relative;
        margin-top: 20px
        min-height: 150px;
        font-size: 20px
        display: flex;
        flex-direction: column;
        justify-content: center;
    &:before
        font-family: FontAwesome;
        content: "\f175"
        color color-cold
        position: absolute;
        top 0px
        left: 50%;
        font-size: 1.3em