#team
    
    .post
        margin-bottom: 40px
        width 100%
        
        .name
            background-color: #3C3C49
            color #dddddd
            padding: 3px 10px
            display: inline-block;
            min-width: 360px
            @media all and (max-width 500px)
                min-width: 300px
                font-size: 0.8em
                padding: 3px 5px
        .descr
            padding: 0 10px