#team
    background-color: #fff
    padding 2em 0
    .post
        padding 0.5em 1.5em
        margin-bottom: 20px
        
        .name
            background-color: #3C3C49
            color #dddddd
            padding: 3px 10px
            display: inline-block;
            min-width: 360px