.button
    margin 40px auto
    text-align: center;
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    align-items: flex-start;
    .label
        display: inline-block;
        text-transform: uppercase;
        min-height: 50px
    a
        display: inline-block;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        color #000
        background-color: color-accent
        padding:3px 15px
        border-radius: 10px
        transition: background-color .3s
        &:hover
            background-color: lighten(color-accent, 40%)
        &.white
            background-color: color-accent
            //background-color: #fff
            &:hover
                background-color: lighten(color-accent, 40%)

a.a-button
    background-color: color-accent
    border-radius: 10px
    color #000
    padding:3px 15px
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .3s
    &:hover
        background-color: lighten(color-accent, 40%)