h2 почему мы лучше маркетолога в штате?
.advantages
    .advantage
        img.denezhnyi-meshok(src='/images/icon-bag-money.png', alt='')
        p Вы платите денги за реальный результат, а не за время просиженное в офисе.
    .advantage
        img.glavik(src='/images/icon-graphic.png', alt='' )
        p Даже самый дорогой пакет наших услуг стоит дешевле, чем штат из пяти человек.
    .advantage
        img.chelovek(src='/images/icon-human.png', alt='')
        p Мы не заболеем и не «уйдем пораньше». У нас в штате достаточно людей чтобы предусмотреть это.