.algorythm
    .algorythm-w
        h2 как мы будем с вами работать:

        .steps
            .step вы оставите заявку или позвоните нам
            .step первая встреча, знакомство, определение целей маркетинга
            .step планирование и оценка контракта
            .step заключение договора, предоплата
            .step работа по плану, промежуточная отчетность
            .step подведение итогов, отчетность, окончательный расчет

        .button
            .label ОСТАЛИСЬ ВОПРОСЫ?
            a(href="#").button-call ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК