#audit
.audit
    .audit-wr
        h2 аудит вашей рекламной кампании
        p #[b Процесс:] на  встрече мы анализируем рекламную кампанию, выясняем маркетинговые инструменты именно Вашего бизнеса с максималной конверсией.
        p #[b Результат:] На следующий день Вы получаете 10 рабочих рекомендаций, которые повысят количество входящих заявок.
        .note услуга предоставляется БЕСПЛАТНО!
        
        .button
            .label заказать бесплатный аудит
            a(href="#").button-order.white оставить заявку