.complex
    h2 ПОЧЕМУ МЫ ЗА КОМПЛЕКСТНЫЙ ПОДХОД?
    
    ul.lamp
        li
            .descr Даже самый дорогой сайт без рекламы не работает!
        li
            .descr Грамотно настроенная реклама, но плохой сайт – потеря клиентов
        li
            .descr Слабая работа коммерческого отдела – потеря клиентов
        li
            .descr Если  продукт не упакован, не интересен, похож на остальных – реклама не сработает!
        li
            .descr Если хороший продукт, но плохое обслуживание – клиент не вернется
            
hr