#about.description
    .margins
        p ЛЕГЧЕ – это Ваш отдел маркетинга, находящийся на соседней улице и доступный по первому звонку или e-mail. Мы команда специалистов, которая готова взять всё продвижение бренда на себя.
        p Вам не нужно искать специалистов, создавать дополнительные рабочие места и тратить свое время на внедрение в специфику маркетинговой деятельности.
        p Позвонив, Вы поймете, что с нами маркетинг – гораздо #[i ЛЕГЧЕ], чем кажется. </p>


.description-scheme
    h2 Направления нашей работы:
    .margins
        img(src='/images/lamp-01.png' width="840px")
    //- .label-outsouceing
    //-     .caption аутсорсинг маркетинга
    //-     .descr передача всей маркетинговой деятельности или ее части нашей компании
    //- .label-brending
    //-     .caption брендинг
    //-     .descr создание и позиционирование уникального «лица» компании
    //- .label-promo
    //-     .caption продвижение
    //-     .descr увеличение доли продукта или компании на рынке
    //- .label-design
    //-     .caption дизайн
    //-     .descr создане брендбука компании

#principles
.principles
    h2 Принципы нашей работы
    .principles-list
        .principle
            .result результат
            .descr Маркетинг должен приносить результат #[br] РЕЗУЛЬТАТ = НОВЫЕ КЛИЕНТЫ
                
        .principle
            .result бюджет
            .descr Всегда находим оптимальное решение в соответствии с Вашим бюджетом
        
        .principle
            .result качество
            .descr Понимаем с первого раза, и слышим Вас!

        .principle
            .result «да» значит «да»
            .descr Если мы курируем Вашу компанию, значит, что все обязательства будут выполнены

        .principle
            .result креатив
            .descr  Не верим в шаблонный подход. Каждый бизнес уникален.

        .principle
            .result «НАДО» ЗНАЧИТ «НАДО»
            .descr Не верим в невыполнимые задачи Выход есть всегда!
hr

h2 почему мы лучше маркетолога в штате?
.advantages
    .advantage
        img.denezhnyi-meshok(src='/images/icon-bag-money.png', alt='')
        p Вы платите деньги за реальный результат, а не за время, просиженное в офисе.
    .advantage
        img.glavik(src='/images/icon-graphic.png', alt='' )
        p Даже самый дорогой пакет наших услуг стоит дешевле, чем штат из пяти человек.
    .advantage
        img.chelovek(src='/images/icon-human.png', alt='')
        p Мы не заболеем и не «уйдем пораньше». У нас в штате достаточно людей чтобы предусмотреть это.
hr

#services
    .margins
        h2 Наши услуги
        article
            ul.services
                li.sites
                    p Создание сайтов любой сложности
                    a.a-button(href="#") Подробнее
                li.context
                    p Контекстная рекламная кампания
                    a.a-button(href="#") Подробнее
                li.smm
                    p Продвижение в социальных сетях
                    a.a-button(href="#") Подробнее
                li.event
                    p Организация событий
                    a.a-button(href="#") Подробнее
                li.design
                    p Дизайн
                    a.a-button(href="#") Подробнее
            p Наше маркетинговое агенство специализируется на комплекстном продвижении товаров и услуг. Мы изучаем нишу, проводим конкурентный анализ и разрабатываем оптимальную стратегию продвижения. 

    .button
        .label договориться о встрече
        a(href="#").button-call ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК

//- #plans
//- h2 пакеты  услуг
//- .plans
//-     .plan.base
//-         .name базовый
//-         .descr ветер перемен
//-         .price стоимость пакета #[br] от 30 000
//- 
//-     .plan.standart
//-         .name СТАНДАРТ
//-         .descr облака сгущаются
//-         .price стоимость пакета от 40 000
//- 
//-     .plan.event
//-         .name EVENT #[br] #[span под ключ]
//- 
//-     .plan.inetmarketing
//-         .name ИНТЕРНЕТ - МАРКЕТИНГ #[br] #[span под ключ]
//- 
//-     .plan.individual
//-         .name ИНДИВИДУАЛЬНЫЙ ПАКЕТ ПРОДВИЖЕНИЯ
//-         .price цена зависит от задачи
//- 
//-     .plan.business
//-         .name БИЗНЕС
//-         .descr гроза всех конкуренов
//-         .price стоимость пакета от 140 000
//- .clear

hr
.individual
    h2 Индивидуальный подход
    p Каждый бизнес уникален, и мы понимаем необходимость индивидуального подхода к каждому проекту. 
    p Вы можете выбрать необходимый перечень услуг нашей компании и создать индивидуальный пакет продвижения.
    p Так же мы понимаем, что не существует безлимитного бюджета на рекламу. Мы составим комплексный пакет продвижения, включающий самые продуктивные для Вашей сферы бизнеса маркетинговые инструменты, в зависимости от существующих бюджетов.
    
    .button
        a(href="#").button-order Получить прайс
hr

#audit
.audit
    .audit-wr
        h2 аудит вашей рекламной кампании
        p #[b Процесс:] на встрече мы анализируем рекламную кампанию, выясняем маркетинговые инструменты именно Вашего бизнеса с максималной конверсией.
        p #[b Результат:] На следующий день Вы получаете 10 рабочих рекомендаций, которые повысят количество входящих заявок.
        .note услуга предоставляется БЕСПЛАТНО!
        
        .button
            .label заказать бесплатный аудит
            a(href="#").button-order.white оставить заявку

.complex
    .margins
        h2 ПОЧЕМУ МЫ ЗА КОМПЛЕКСНЫЙ ПОДХОД?
        
        ul.lamp
            li
                .descr Даже самый дорогой сайт без рекламы не работает!
            li
                .descr Грамотно настроенная реклама, но плохой сайт – потеря клиентов
            li
                .descr Слабая работа коммерческого отдела – потеря клиентов
            li
                .descr Если продукт не упакован, не интересен, похож на остальных – реклама не сработает!
            li
                .descr Если хороший продукт, но плохое обслуживание – клиент не вернется
            
hr

#team
.team
    h2 КТО БУДЕТ РАБОТАТЬ НАД ПРОЕКТОМ

    .post
        .name МЕНЕДЖЕР ПРОЕКТОВ
        .descr Специалист, который координирует работу тех, кто трудится над Вашим проектом. Вы будете работать именно с ним.

    .post
        .name МАРКЕТОЛОГ-КОПИРАЙТЕР
        .descr Специалист отвечает за написание рекламных текстов, слоганов, пресс-релизов . Красиво, грамното и очень много пишет!

    .post
        .name ИНТЕРНЕТ-МАРКЕТОЛОГ
        .descr Специалист отвечает за все, что связано с продвижением в интернете. Контекстная реклама, SMM, SEO, разработка сайтов, размещение на сторонних площадках. Молчелив, задумчив, всегда верстает. 

    .post
        .name EVENT-МАРКЕТОЛОГ
        .descr Специалист организовывает рекламные мероприятия различного уровня. BTL-акции, презентации, круглые столы, праздники, розыгрыши и другие события. Быстро бегает и много знает!

    .post
        .name ДИЗАЙНЕР
        .descr Рисует макеты, рекламные буклеты, визитки, сайты, разрабатывает брендбуки. «Дедлайн» для него не пустой звук и реально успевает в срок.

.algorythm
    .algorythm-w
        h2 как мы будем с вами работать:

        .steps
            .step вы оставите заявку или позвоните нам
            .step первая встреча, знакомство, определение целей маркетинга
            .step планирование и оценка контракта
            .step заключение договора, оплата
            .step работа по плану, промежуточная отчетность
            .step подведение итогов, отчетность

        .button
            .label ОСТАЛИСЬ ВОПРОСЫ?
            a(href="#").button-call ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК

#statistics
    .margins
        articles
            section.stat
                .number
                    p >4
                .descr более четырёх лет успешной работы
            section.stat
                .number 
                    p.long >1 000 000
                .descr более миллиона целевых кликов
            section.stat
                .number
                    p >80
                .descr более 80 успешных проектов

hr

#reviews
    h2 Отзывы
    .margins
        article
            section.review
                img.photo(src="/images/reviews/vichurov.png")
                blockquote
                    cite.name Иван Вичуров. 
                        span.pos Школа игры на гитаре
                    p Я - музыкант. У нас своя школа игры на гитаре. Рынок очень конкурентный, да и мы люди творческие, в аналитике и маркетинге не профессионалы. Менеджер приехал, все рассказал, все показал. Запустились, работаем.
            section.review
                img.photo(src="/images/reviews/hrenkov.png")
                blockquote
                    cite.name Сергей Хренков. 
                        span.pos Предприниматель
                    p У нас свой бизнес по авто-диагностике. Нет времени заниматься маркетингом, очень много других задач. Отдали продвижение агентству на аутсорсинг, и не пожалели.  Сотрудничаем уже долгое время.
            section.review
                img.photo(src="/images/reviews/avril.png")
                blockquote
                    cite.name Ян Авриль. 
                        span.pos Фотограф
                    p Я фотограф, занимаемся профессиональной фотосьемкой. Меня интересовало продвижение в соц. сетях. Приехала менеджер – Екатерина. Все обсудили и сразу приступили к работе. Поразил индивидуальный подход к нашему проекту.  
            section.review
                img.photo(src="/images/reviews/mihnenko.png")
                blockquote
                    cite.name Евгения Михненко. 
                        span.pos Руководитель производственной компании
                    p У нас компания по производству чая. Сотрудничаем с командой «Легче» полгода. Очень грамотно провели конкурентный анализ. Проект запустили быстро. Молодцы!
hr
    
.request
    h2 ЧТОБЫ ЗАКАЗАТЬ НАШИ УСЛУГИ ЗАПОЛНИТЕ ФОРМУ НИЖЕ:
    form#form-order-request(method="post" action="/ajax/ajax.php")
        input(type="hidden" name="action" value="order-request")
        input(type="text" name="turing" value="")
        .form-row
            label ФИО
                input(type="text" name="name" placeholder="Владимир Соколов" required)
        .form-row
            label EMAIL
                input(type="email" name="email" placeholder="email@example.com" required)
        .form-row
            label ТЕЛЕФОН
                input(type="text" name="phone" placeholder="+7 012 345-67-89, с 10 до 18")
        .form-row
            input#contact-privacy2(type='checkbox' name='contact-privacy' value='privacy' checked required)
            label(for='contact-privacy2') Я принимаю условия #[a.privacy(href="#" target="_blank") Соглашения о неразглашении]
        .form-row
            input(type="submit" value="ОТПРАВИТЬ ЗАЯВКУ")

    .align-center.message Ваша заявка отправлена