.description-scheme
    img(src='/images/lamp-01.png' width="840px")
    //- .label-outsouceing
    //-     .caption аутсорсинг маркетинга
    //-     .descr передача всей маркетинговой деятельности или ее части нашей компании
    //- .label-brending
    //-     .caption брендинг
    //-     .descr создание и позиционирование уникального «лица» компании
    //- .label-promo
    //-     .caption продвижение
    //-     .descr увеличение доли продукта или компании на рынке
    //- .label-design
    //-     .caption дизайн
    //-     .descr создане брендбука компании
hr
#about.description-wrap
    .description
        p По мере усиления конкуренции большее преимущество на рынке получает та компания, которая концентрируется на маркетинговой деятельности. Это позволяет широко взглянуть на рынок, понять потребителей и создать уникальный продукт, который необходим целевой аудитории. 
        p Компания #[b «ЛЕГЧЕ»] - это помощник владельцам бизнеса, ценой разумных затрат, получить комплекс услуг профессионалов в области маркетинга и вывести свой бизнес на новый уровень.
hr