footer
    .margins
        #contacts
        .footer-w
            .links
                a(href="#plans") Услуги
                a(href="#about") О нас
                a(href="#audit") Аудит
            .requisites
                p ИНН 440102629605
                p ОГРН 317440100009826
                p РС 40802810000000123249
            .ft-contacts
                .email INFO@LEGCHE.PRO
                .phone +7 (4852) 68-57-42