footer
    #contacts
    .footer-w
        .links
            a(href="#plans") Услуги
            a(href="#about") О нас
            a(href="#audit") Аудит
        .ft-contacts
            .email INFO@LEGCHE.PRO
            .phone +7 (4852) 68-57-42