title Маркетинговое агенство "ЛЕГЧЕ"
meta(charset='UTF-8')
meta(name='description', content="")
meta(name='keywords', content="")

link(rel="stylesheet" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css")
link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin,latin-ext,vietnamese')

script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")

link(rel='stylesheet', type='text/css', href='style.css')
script(src="/js/script.js")
