title Маркетинговое агенство "ЛЕГЧЕ"
meta(charset='UTF-8')
meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes")
meta(name='description', content="")
meta(name='keywords', content="")
meta(property="og:title" content="Маркетинговое агентство «Легче»")
meta(property="og:image" content="http://legche.pro/images/forshare.png")
meta(property="og:url" content="http://legche.pro")
meta(property="og:locale" content="ru_RU")
meta(property="og:type" content="article")
meta(property="og:description" content="Маркетинговое агентство «Легче»")


link(rel="stylesheet" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css")
link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin,latin-ext,vietnamese')

script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")

link(rel='stylesheet', type='text/css', href='style.css')
script(src="/js/script.js")
