.header
    .top-menu
        a(href="#principles") о компании
        a(href="#plans") услуги
        a(href="#contacts") контакты

    .slogan 
        .marketing МАРКЕТИНГ
        .legche ЛЕГЧЕ
        .think ЧЕМ ТЫ ДУМАЕШЬ

    .contacts
        .email INFO@LEGCHE.PRO
        .phone +7 (4852) 68-57-42
