.header.fixed-bg
    .top-menu
        a(href="#about") о компании
        a(href="#services") услуги
        a(href="#contacts") контакты

    .slogan 
        .marketing МАРКЕТИНГ
        .legche ЛЕГЧЕ
        .think ЧЕМ КАЖЕТСЯ

    .c-wrap
        .contacts
            .email INFO@LEGCHE.PRO
            .phone +7 (4852) 68-57-42
