.header
    .top-menu
        a(href="#about") о компании
        a(href="#services") услуги
        a(href="#contacts") контакты

    .logo
        img(src="/images/logo-legche.png")

    .c-wrap
        .contacts
            .email INFO@LEGCHE.PRO
            .phone +7 (4852) 68-57-42
.clear