hr
.individual
    h2 Индивидуальный пакет продвижения
    p Каждый бизнес уникален, и мы понимаем необходимость индивидуального подхода к каждому проекту. 
    p Вы можете выбрать необходимый перечень услуг нашей компании и создать индивидуальный пакет продвижения.
    p Так же мы понимаем, что не существует безлимитного бюджета на рекламу. Мы составим комплексный пакет продвижения, включающий самые продуктивные для Вашей сферы бизнеса маркетинговые инструменты, в зависимости от существующих бюджетов.
    
    .button
        a(href="#").button-order Получить прайс