#plans
h2 пакеты  услуг
.plans
    .plan.base
        .name базовый
        .descr ветер перемен
        .price стоимость пакета #[br] от 30 000

    .plan.standart
        .name СТАНДАРТ
        .descr облака сгущаются
        .price стоимость пакета от 40 000

    .plan.event
        .name EVENT #[br] #[span под ключ]

    .plan.inetmarketing
        .name ИНТЕРНЕТ - МАРКЕТИНГ #[br] #[span под ключ]

    .plan.individual
        .name ИНДИВИДУАЛЬНЫЙ ПАКЕТ ПРОДВИЖЕНИЯ
        .price цена зависит от задачи

    .plan.business
        .name БИЗНЕС
        .descr гроза всех конкуренов
        .price стоимость пакета от 140 000
.clear


.button
    .label договориться о встрече
    a(href="#").button-call ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК

