hr
#principles
.principles
    
    .top
        .principle-top
            .result результат
            .descr Маркетинг должен приносить результат #[br] #[b РЕЗУЛЬТАТ = НОВЫЕ КЛИЕНТЫ]
                
        .principle-top
            .result бюджет
            .descr Всегда находим оптимальное решение в соответствии с Вашим бюджетом
        
        .principle-top
            .result качество
            .descr Понимаем с первого раза, и слышим Вас!

    .principle-line Принципы нашей работы

    .bottom
        .principle-bottom
            .descr Если мы курируем Вашу компанию, значит, что все обязательства будут выполнены
            .result «да» значит «да»

        .principle-bottom
            .descr  Не верим в шаблонный подход. Каждый бизнес уникален.
            .result креатив

        .principle-bottom
            .descr Не верим в невыполнимые задачи Выход есть всегда!
            .result «НАДО» ЗНАЧИТ «НАДО»
            
hr