#popup-service-site
    .popup-info
        .popup-info-window
            .pi-close &times;
            h3 Создание сайтов
            ul.lamp-min
                li Разработка дизайна и создание продающих сайтов и Landing Page под ключ, то есть Вы получаете готовый продукт, который выгодно демонстрирует Ваши преимущества перед конкурентами. Мы создаем сайты, уже нацеленные на развитие Вашего бизнеса, который будет расти вмеcте с Вами без больших финансовых и временных затрат.
                li Модернизация уже существующих сайтов
                li Размещение сайтов в сети интернет
                li Разработка движков с нуля
                li Ведение Вашего сайта.
            .price от 17 000 р

#popup-service-context
    .popup-info
        .popup-info-window
            .pi-close &times;
            h3 Контекстная реклама
            ul.lamp-min
                li Аудит Вашей рекламной кампании - БЕСПЛАТНО
                li Настройка рекламной кампании в Яндекс.Директ + РСЯ и Google Adwords + КМС - 12 000 рублей
                li Ведение рекламной кампании - 2 НЕДЕЛИ БЕСПЛАТНО, далее от 6 000 руб в месяц
                li Работа в Вашем аккаунте или создание нового
                li Подключение сервиса управления ставками
                li Настройка таргетинга
            .price от 6 000 р
            
#popup-service-smm
    .popup-info
        .popup-info-window
            .pi-close &times;
            h3 Продвижение в социальных сетях
            ul.lamp-min
                li Создание страниц в социальных сетях VK, Facebook и Instagram
                li Разработка дизайна страниц
                li Продвижение и настройка таргетированной рекламы 
                li Ведение страницы (создание постов, быстрое реагирование на любые обращения от клиентов, работа с негативом)
            .price от 15 000 р
            
#popup-service-event
    .popup-info
        .popup-info-window
            .pi-close &times;
            h3 Организация событий
            .align-center Направления работы:
            p #[b TRADE EVENTS]. События для партнеров, клиентов, дилеров, и дистрибьютеров компании. Конференции, семинары, форумы, конгрессы, саммиты, мероприятия на выставках, ярмарках и т.д.
            p #[b CORPORATE EVENTS]. Цель - построение и укрепление лояльности к компании, а также сплочение команды. Формат- начиная от самых простых «посиделок в офисе» и заканчивая масштабными празднованиями юбилеев компании.
            p #[b SPECIAL EVENTS]. Цель - знакомство и вовлечение обывателей в мир бренда, создание эмоциональной «привязки». Фестивали, «народные гулянья», вручение премий, спортивные события, мероприятия для прессы, акции, дегустации и т.д.
            p #[b Комплексное обслуживание] - создание годовой структурированной event-стратегии для компании. Отслеживание обратной связи. Продвижение через SMM и СМИ 
            .button
                a(href="#").button-order Получить портфолио

#popup-service-design
    .popup-info
        .popup-info-window
            .pi-close &times;
            h3 Дизайн
            p Наша команда может взять на себя дизайн любой сложности, будь то новая аватарка для Вашей странички в Facebook или флаер для промоутера, до создания масштабного сайта Вашей компании.
            //-.price от 15 000 р

//- #popup-service-individual
//-     .popup-info
//-         .popup-info-window
//-             .pi-close &times;
//-             form#form-popup-individual(method="post" action="/ajax/ajax.php")
//-                 input(type="hidden" name="action" value="popup-individual")
//-                 input(type="text" name="turing" value="")
//-                 .form-row
//-                     label ФИО
//-                         input(type="text" name="name" placeholder="Владимир Соколов" required)
//-                 .form-row
//-                     label EMAIL
//-                         input(type="email" name="email" placeholder="email@example.com" required)
//-                 .form-row
//-                     label ТЕЛЕФОН
//-                         input(type="text" name="phone" placeholder="+7 012 345-67-89, с 10 до 18")
//-                 .form-row
//-                     input(type="submit" value="СОЗДАТЬ ИНДИВИДУАЛЬНЫЙ ПАКЕТ")
//-             .align-center.message Ваша заявка отправлена
