#team
.team
    h2 КТО БУДЕТ РАБОТАТЬ НАД ПРОЕКТОМ

    .post
        .name МЕНЕДЖЕР ПРОЕКТОВ
        .descr Специалист, который координирует работу тех, кто трудится над Вашим проектом. Вы будете работать именно с ним.

    .post
        .name МАРКЕТОЛОГ-КОПИРАЙТЕР
        .descr специалист отвечает за написание рекламных текстов, слоганов, пресс-релизов . Красиво, грамното и очень много пишет!

    .post
        .name ИНТЕРНЕТ-МАРКЕТОЛОГ
        .descr специалист отвечает за все, что связано с продвижением в интернете. Контекстная реклама, SMM, SEO, разработка сайтов, размещение на сторонних площадках. Молчелив, задумчив, всегда верстает. 

    .post
        .name EVENT-МАРКЕТОЛОГ
        .descr специалист организовывает рекламные мероприятия различного уровня. BTL-акции, презентации, круглые столы, праздники, розыгрыши и другие события. Быстро бегает и много знает!

    .post
        .name ДИЗАЙНЕР
        .descr рисует макеты, рекламные буклеты, визитки, сайты, разрабатывает брендбуки. «Дедлайн» для него не пустой звук и реально успевает в срок.