#reviews
    section.review
        display: flex
        flex-wrap: wrap
        justify-content: space-around
        width 100%
        margin-bottom: 2em
        img.photo
            width 145px
            height 145px
            flex-grow: 0
            flex-shrink: 0
        blockquote
            display flex
            flex-direction: column;
            justify-content: center;
            flex-shrink: 1
            padding: 0
            margin: 0 0 0 2em
            font-size: 20px
            max-width: 650px
        cite
            padding: 0
            margin: 0
            font-weight: bold;
            font-style: normal;
        span.pos
            font-weight: normal;
        p
            margin: 0
            padding: 0    