#services
    padding: 20px 0;
    position: relative;
    width: 100%
    
#services.fixed-bg
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(/images/03bk.jpg);

ul.services
    list-style: none;
    padding: 0
    li
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        margin: 1.2em 0
        p
            margin: 0