doctype html
html
    head
        include parts\head.pug
    body
        include parts\form-call.pug
        include parts\form-order.pug
        include parts\plans-popup.pug
        include parts\header.pug
        include parts\description.pug
        include parts\advantages.pug
        include parts\principles.pug
        include parts\plans.pug
        include parts\individual.pug
        include parts\audit.pug
        include parts\complex.pug
        include parts\team.pug
        include parts\algorythm.pug
        include parts\request.pug
        include parts\footer.pug
        include parts\counters.pug