color-a = #333
color-bk = #91908F
color-accent = #FF9961
color-cold = #adb7d1

@font-face {
    font-family: 'Roboto Condenced';
    src: url(/assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}

@import "css/**/*.styl"